.poke__item {
  &--normal {
    background: $normal2;
  }
  &--fighting {
    background: $fighting2;
  }
  &--flying {
    background: $flying2;
  }
  &--poison {
    background: $poison2;
  }
  &--ground {
    background: $ground2;
  }
  &--rock {
    background: $rock2;
  }
  &--bug {
    background: $bug2;
  }
  &--ghost {
    background: $ghost2;
  }
  &--steel {
    background: $steel2;
  }
  &--fire {
    background: $fire2;
  }
  &--water {
    background: $water2;
  }
  &--grass {
    background: $grass2;
  }
  &--electric {
    background: $electric2;
  }
  &--psychic {
    background: $psychic2;
  }
  &--ice {
    background: $ice2;
  }
  &--dragon {
    background: $dragon2;
  }
  &--dark {
    background: $dark2;
  }
  &--fairy {
    background: $fairy2;
  }
}
