//color main
$all: #708ed2;
$normal: #c7c5c5;
$fighting: #bdb6a7;
$flying: #c1bfbf;
$poison: #9370c1;
$ground: #ffad5c;
$rock: #b5b5b5;
$bug: #fbb858;
$ghost: #bd85f1;
$steel: #b3b6b1;
$fire: #fd4949;
$water: #61c1ef;
$grass: #8de092;
$electric: #fbdf54;
$psychic: #cbd04b;
$ice: #6495ed;
$dragon: #5f7eb5;
$dark: #000000;
$fairy: #f1b2fb;

//color pokemon
$normal2: rgba(#c7c5c5, 0.3);
$fighting2: rgba(#bdb6a7, 0.3);
$flying2: rgba(#c1bfbf, 0.3);
$poison2: rgba(#9370c1, 0.3);
$ground2: rgba(#ffad5c, 0.3);
$rock2: rgba(#b5b5b5, 0.3);
$bug2: rgba(#fbb858, 0.3);
$ghost2: rgba(#bd85f1, 0.3);
$steel2: rgba(#b3b6b1, 0.3);
$fire2: rgba(#fd4949, 0.3);
$water2: rgba(#61c1ef, 0.3);
$grass2: rgba(#8de092, 0.3);
$electric2: rgba(#fbdf54, 0.3);
$psychic2: rgba(#cbd04b, 0.3);
$ice2: rgba(#6495ed, 0.3);
$dragon2: rgba(#5f7eb5, 0.3);
$dark2: rgba(#000, 0.3);
$fairy2: rgba(#f1b2fb, 0.3);
