@import "../../../../../scss/style.scss";

.list {
  &__type {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-right: 10px;
  }
  &__item {
    margin-right: 10px;
    padding: 5px 15px;
    border-radius: 20px;
    margin-bottom: 15px;
    cursor: pointer;

    p {
      display: inline-block;
      color: #fff;
      font-size: 1.4rem;
    }
  }
}
